<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">

      <input type="hidden" formControlName="user_id">

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="start_date">Start date</label>
            <input type="date" id="start_date" class="form-control" formControlName="start_date" min="{{fullDate}}">
          </div>
        </div>
      </div>

      <!-- show this input only if "start_date" is set -> because min. value of this input is current value of "start_date" -->
      <div class="row" *ngIf="newTaskForm.value.start_date">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="end_date">End date</label>
            <input type="date" id="end_date" class="form-control" formControlName="end_date" min="{{newTaskForm.value.start_date}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!newTaskForm.valid">Create</button>
          <a class="btn btn-danger" (click)="onCancel()">Reset</a>
          <a class="btn btn-danger" [routerLink]="['/tasks/list']">Cancel</a>
        </div>
      </div>

    </form>
  </div>
</div>