<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="taskEditForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="start_date">Start date</label>
            <input type="date" id="start_date" class="form-control" formControlName="start_date">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="end_date">End date</label>
            <input type="date" id="end_date" class="form-control" formControlName="end_date">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="status">Status</label>
            <input type="text" id="status" class="form-control" formControlName="status">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="created_at">Created at</label>
            <input type="datetime" id="created_at" class="form-control" formControlName="created_at">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="updated_at">Updated at</label>
            <input type="datetime" id="updated_at" class="form-control disabled" formControlName="updated_at" >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!taskEditForm.valid">Save</button>
        </div>
      </div>
    </form>
    <br />
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>